<header class="main-header">
    <div class="main-header__wrapper">
        <nav class="main-menu">
            <div class="main-menu__wrapper">
                <div class="container">
                    <div class="main-menu__wrapper-inner">
                        <div class="main-menu__left">
                            <div class="main-menu__logo">
                                <a href="/"><img src="assets/images/resources/1000222527-removebg-preview.png" alt="ResQ Logo" class="logo-img"></a>
                            </div>
                        </div>
                        <div class="main-menu__main-menu-box">
                            <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                            <ul class="main-menu__list">
                                <li class=" <%= page === 'home' ? 'current' : '' %>">
                                    <a href="/">Home </a>
                                </li>
                                <li class="<%= page === 'about' ? 'current' : '' %>">
                                    <a href="/about">About Us</a>
                                </li>
                                <li class="<%= page === 'about' ? 'current' : '' %>">
                                    <a href="/about">Hospitals</a>
                                </li>

                                <li class="<%= page === 'about' ? 'current' : '' %>">
                                    <a href="/about">Doctors</a>
                                </li>

                                <!-- <li class="dropdown <%= page === 'pages' ? 'current' : '' %>">
                                    <a href="#">Pages</a>
                                    <ul>
                                        <li><a href="/doctor">Doctors</a></li>
                                        <li><a href="/doctor-carousel">Doctors Carousel</a></li>
                                        <li><a href="/doctor-details">Doctor Details</a></li>
                                        <li><a href="/project">Projects</a></li>
                                        <li><a href="/project-carousel">Project Carousel</a></li>
                                        <li><a href="/project-details">Project Details</a></li>
                                        <li><a href="/testimonials">Testimonials</a></li>
                                        <li><a href="/testimonial-carousel">Testimonial Carousel</a></li>
                                        <li><a href="/pricing">Pricing</a></li>
                                        <li><a href="/appoinment">Appoinment</a></li>
                                        <li><a href="/faq">Faq</a></li>
                                        <li><a href="/404">404 Error</a></li>
                                    </ul>
                                </li> -->
                                <li class="dropdown <%= page === 'services' ? 'current' : '' %>">
                                    <a href="#">Services</a>
                                    <ul>
                                        <li><a href="/services">Services</a></li>
                                        <li><a href="/service-carousel">Service Carousel</a></li>
                                        <li><a href="/vitality-health-solutions">Vitality Health Solutions</a></li>
                                        <li><a href="/wellSpring-wellness-center">WellSpring Wellness Center</a></li>
                                        <li><a href="/harmony-family-health-medical">Family Health Medical</a></li>
                                        <li><a href="/evergreen-medical-center">Evergreen Medical Center</a></li>
                                        <li><a href="/pure-life-health-services">PureLife Health Services</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown <%= page === 'shop' ? 'current' : '' %>">
                                    <a href="#">Shop</a>
                                    <ul>
                                        <li><a href="/products">Products</a></li>
                                        <li><a href="/product-details">Product Details</a></li>
                                        <li><a href="/cart">Cart</a></li>
                                        <li><a href="/checkout">Checkout</a></li>
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/sign-up">Sign Up</a></li>
                                        <li><a href="/login">Login</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown <%= page === 'blog' ? 'current' : '' %>">
                                    <a href="#">Blog</a>
                                    <ul>
                                        <li><a href="/blog">Blog</a></li>
                                        <li><a href="/blog-carousel">Blog Carousel</a></li>
                                        <li><a href="/blog-list">Blog List V-01</a></li>
                                        <li><a href="/blog-list-2">Blog List V-02</a></li>
                                        <li><a href="/blog-details">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li class="<%= page === 'contact' ? 'current' : '' %>">
                                    <a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="main-menu__right">
                            <div class="main-menu__thm-btn">
                                <% if (locals.isAuthenticated) { %>
                                    <a href="/appoinment" class="thm-btn">My Appoinment</a>
                                    <a href="/med-reminder" class="thm-btn">Med Reminder</a>
                                <% } %>
                            </div>
                        </div>
                        <% if (locals.isAuthenticated) { %>
                            <div class="user-actions" style="display: flex; align-items: center; margin-left: 15px;">
                                <span style="margin-right: 15px; color: #006D77; font-weight: 500;">
                                    Hi, <%= locals.user.firstName %>
                                </span>
                                <a href="/logout" class="logout-btn" title="Logout">
                                    <i class="fas fa-sign-out-alt fa-2x" style="color: #006D77;"></i>
                                </a>
                            </div>
                        <% } else { %>
                            <a href="/login"><i class="fas fa-user fa-2x"></i></a>
                        <% } %>

                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header --> 